.root {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  margin-right: 50px;
}
